
# hidden files
.*
!/.github
!/.gitignore
!/.gitmodules
!/.pylintrc

# python
__pycache__
Pipfile.lock
*.egg-info

# logs
*.log

# test coverage
coverage.txt
coverage.xml
htmlcov
!.gitleaksignore
packages/open_aea
packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/valory/skills/registration_abci
packages/valory/skills/reset_pause_abci
packages/valory/connections
packages/valory/contracts/offchain_aggregator
packages/valory/contracts/multisend
packages/valory/contracts/gnosis_safe
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/service_registry
packages/valory/protocols
