
# hidden files
.*
!/.github
!/.gitignore
!/.gitmodules
!/.pylintrc

# python
__pycache__
Pipfile.lock
*.egg-info

# logs
*.log

# test coverage
coverage.txt
coverage.xml
htmlcov
!.gitleaksignore
packages/open_aea
packages/valory
