
# hidden files
.*
!/.github
!/.gitignore
!/.gitmodules
!/.pylintrc

# python
__pycache__
Pipfile.lock
*.egg-info

# logs
*.log

# test coverage
coverage.txt
coverage.xml
htmlcov
!.gitleaksignore
packages/open_aea
packages/valory/skills/abstract_abci
packages/valory/connections/abci
packages/valory/connections/http_client
packages/valory/connections/ipfs
packages/valory/connections/p2p_libp2p_client
packages/valory/contracts/offchain_aggregator
packages/valory/contracts/multisend
packages/valory/contracts/gnosis_safe
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/service_registry
packages/valory/protocols/abci
packages/valory/protocols/acn
packages/valory/protocols/contract_api
packages/valory/protocols/http
packages/valory/protocols/ipfs
packages/valory/protocols/tendermint
/leak_report
build/

packages/fetchai/
